APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

SAFE_DOMAINS=https://apis.google.com|https://www.google.com|http://fonts.googleapis.com|http://fonts.gstatic.com|https://js.stripe.com/v2/