.rg-offset-1 {
    margin: 0 0 0 84px !important;
}

.rg-offset-2 {
    margin: 0 0 0 168px !important;
}

.rg-offset-3 {
    margin: 0 0 0 252px !important;
}

.rg-offset-4 {
    margin: 0 0 0 336px !important;
}

.rg-offset-5 {
    margin: 0 0 0 420px !important;
}

.rg-offset-6 {
    margin: 0 0 0 504px !important;
}

.rg-offset-7 {
    margin: 0 0 0 588px !important;
}

.rg-offset-8 {
    margin: 0 0 0 672px !important;
}

.rg-offset-9 {
    margin: 0 0 0 756px !important;
}

.rg-offset-10 {
    margin: 0 0 0 840px !important;
}

.rg-offset-11 {
    margin: 0 0 0 924px !important;
}

.rg-offset-12 {
    margin: 0 0 0 984px !important;
}