.raw-device {
    width: 312px;
}

.raw-t-hide {
    display: block;
}

.raw-m-hide {
    display: none;
}

.raw-m-hide {
    display: none;
}

.rg-col-1 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-2 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-3 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-4 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-5 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-6 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-7 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-8 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-9 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-10 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-11 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-col-12 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.rg-inner-1 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-2 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-3 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-4 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-5 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-6 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-7 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-8 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-9 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-10 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-11 {
    margin-left: 0px;
    width: 100%;
}

.rg-inner-12 {

margin-left: 0px;
    width: 100%;
}